#search-pokemon {
    width: 40%;
    padding: 1rem;
    margin: 1rem 0;
}

.search{
    width: 70%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: opacity 2s ease-in-out;
}

button{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f44336;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #7EFEBA;
}