.grid{
    width: 35vw;
    height: 35vw;
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 2px solid whitesmoke;
    background-color: #f5f5f5;
}

.turn-highlight{
    color: rgb(255, 255, 255);
}